/*barlow font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
/* rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
    font-family: 'Barlow';
    text-align: center;
    
}

.nav{
    padding: 0;
    font-weight: normal ;
    color:black;
    

}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 35px;
    line-height: 50px;
    margin: 25px 0px;
}
.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
.header{
    background: lightblue;
}
.header .row{
    margin-top: 90px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 10px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 75%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-10px);
}
.card-header {
    background: lightpink;
}
.card-body{
    background: lightpink;
}
.card-footer {
    background: lightskyblue;
}
ul{
    list-style-type: none;
}


.menu{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}

.single-product{
    margin-top: 75px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus{
    outline: none;
}

.account-page{
    padding: 50px 0;
    background: lightseagreen;
}

.form-container{
    background: #fff;
    width: 275px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 20px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 200px;
    padding: 0 20px;
    position: absolute;
    top: 90px;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid black;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    
}

form .btn:focus{
    outline: none;
}

#RegForm{
    left: 0;
}

form a{
    font-size: medium;
}

.aboutus-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}

/* shopping cart*/
html {
    font-size: 16px;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
/* APP CONTAINER */
.app-container {
    width: 100vw;
    height: 100vh;
  }
  
  /* APP BG */
  .app-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
  }
  .app-bg .left-side {
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 100%;
  }
  .app-bg .right-side {
    background-color: rgb(var(--right-side-bg-color));
    width: 25%;
    height: 100%;
  }
  
/* HEADER */
header {
    width: 100%;
    height: 100px;
  
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
  
    z-index: 99;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 5px 5px;
    border-radius: 15px;
  }
  header nav ul li.active {
    border: 1px solid #000;
  }
  header nav ul li a {
    font-size: var(--link-size);
    display: flex;
    align-items: center;
    height: 32px;
  }
  header nav ul li.btn {
    background-color: rgba(var(--right-side-bg-color), 0.4);
    border: 1px solid rgb(var(--right-side-bg-color));
  }
  header nav ul li.btn img {
    width: 32;
    height: 32px;
  }
  header nav ul li.home a {
    display: flex;
    align-items: center;
  }
  header nav ul li.home a img {
    margin-right: 5px;
  }
  /* HEADER -> SHOOPING BAG */
  .shopping-bag {
    padding: 10px 5px;
  }
  .shopping-bag a {
    display: flex;
    align-items: center;
  }
  .shopping-bag a img {
    width: 32px;
    height: 32px;
  }
  /* MAIN */
main {
    width: 100%;
    background-color: royalblue;
    position: relative;
    top: 100px;
  }
  main .products-preview {
    width: 60%;
    height: calc(100vh - 100px);
    position: absolute;
    left: 0;
  }
  main .model {
    width: 40%;
    height: calc(100vh - 100px);
    position: absolute;
    right: 0;
    z-index: -1;
  }
  /* PRODUCTS */
  .products-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .product {
    width: 300px;
    border: 1px solid rgba(var(--right-side-bg-color), 0.4);
    border-radius: 10px;
    padding: 5px;
  }
  .product img {
    width: 75%;
  }
  /* MORE DETAILS */
  .more-details {
    position: absolute;
    bottom: 80px;
    left: 50px;
  
    display: flex;
    align-items: center;
  }
  .more-details .see-more-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
  
    transform: rotate(-90deg);
  
    font-size: 1.2rem;
  }
  .see-more-btn img {
    width: 80px;
    margin-right: 20px;
  }
  .more-details .description small {
    color: rgb(149, 149, 149);
  }
  .more-details .description h1 {
    margin: 10px 0;
  }
  .more-details .description h1 small {
    color: #000;
  }

/* products list */
.products-list {
    width: 100vw;
    height: 100vh;
  
    padding-top: 100px;
  
    display: flex;
  }
  
  /* PRODUCTS */
  .products {
    height: 100%;
    width: 75%;
  
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 3fr);
  }
  .products img {
    width: 200px;
    /* filter: drop-shadow(30px 10px 4px #ddd); */
  }
  .products .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .products .item .item-container {
    width: 250px;
    height: 90%;
    background-color: #000;
  
    border-radius: 25px;
  
    position: relative;
  }
  .products .item .item-container .item-img {
    width: 100%;
    height: 60%;
  
    background-color: white;
  
    border: 1px solid #000;
    border-radius: 25px 25px 0 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products .item .item-container .desc {
    width: 100%;
    color: #fff;
  
    padding: 10px;
  }
  .products .item .item-container .add-to-cart {
    background-color: rgba(var(--right-side-bg-color), 0.7);
    /* background-color: rgb(242, 255, 58); */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 10px;
    right: 10px;
  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }
  .products .item .item-container .add-to-wishlist {
    background-color: rgba(255, 21, 21, 0.7);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 10px;
    right: 60px;
  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }
  .products .item .item-container .add-to-cart img {
    width: 32px;
    height: 32px;
  }
  .products .item .item-container .add-to-wishlist img {
    width: 32px;
    height: 32px;
  
    padding: 5px;
  }
  /* CART */
  .cart {
    height: 100%;
    width: 25%;
  
    position: relative;
  }
  /* cart header */
  .cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  /* cart items */
  .cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* cart item */
  .cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* item info */
  .cart-item .item-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.6);
  
    border-radius: 0 10px 10px 0;
  
    padding: 10px;
  }
  .cart-item .item-info:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
  }
  .cart-item .item-info img {
    width: 75px;
  }
  /* unit price */
  .cart-item .unit-price {
    flex: 1;
    font-size: 1.2rem;
  }
  /* units */
  .cart-item .units {
    flex: 1;
  }
  .cart-item .units .number {
    margin: 0 10px;

    font-size: 1.2rem;
  }
  .cart-item .units .btn {
    width: 15px;
    height: 15px;
    background-color: salmon;
    border-radius: 75%;  
    font-weight: bold;
    cursor: pointer;
  }
  
  /* cart footer */
  .cart-footer {
    width: 100%;
    background-color: rgb(255, 21, 21);
    position: absolute;
    bottom: 0;
    left: 0;  
    border-left: 1px solid rgb(var(--right-side-bg-color));
  }
  .cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px 0;
    font-size: 1.3rem;
  }
  .cart-footer .subtotal {
    background-color: white;
  }
  .cart-footer .checkout {
    background-color: greenyellow;
    cursor: pointer;
  }
  