/*barlow font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
/* rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
    font-family: 'Barlow';
    text-align: center;
    
}

.navigateul{
    list-style: none;
    background: #6C7B95;
    padding: 0;
    margin: 50px;
    text-align: right;
}

.navigate li{
    display: inline-block;
}

.navigate a{
    text-decoration: none;
    color: lightcyan;
    width: 100px;
    display: block;
    padding: 25px;
    text-align: center;
}

.navigate a:hover{
    background: lightgoldenrodyellow;
}

p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 35px;
    line-height: 50px;
    margin: 25px 0px;
}
.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
.header{
    background: lightblue;
}
.header .row{
    margin-top: 90px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 10px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 75%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-10px);
}
.card-header {
    background: lightpink;
}
.card-body{
    background: lightpink;
}
.card-footer {
    background: lightskyblue;
}
ul{
    list-style-type: none;
}


.menu{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}

.single-product{
    margin-top: 75px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus{
    outline: none;
}

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 200px;
    padding: 0 20px;
    position: absolute;
    top: 90px;
    transition: transform 0.5s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid black;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

form a{
    font-size: medium;
}

.aboutus-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}